<header>
  <nav class="flex header-menu">
    <ul class="flex nav-list">
      <div class="logo">
        <a href="#"><img src="public/images/logo-v1.svg" alt="" /></a>
      </div>
      <li class="flex nav-item"><a class="nav-link" href="#">Guitars</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Accessories</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">News</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Guides</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Bio</a></li>
    </ul>
    <ul class="flex nav-list">
      <li class="flex nav-item"><a class="nav-link" href="#">Bag</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Account</a></li>
    </ul>
  </nav>
</header>
