<header>
  <nav class="nav-bar">
    <ul class="flex nav-list">
      <li class="flex nav-item"><a class="nav-link" href="#">Guitars</a></li>
      <li class="flex nav-item">
        <a class="nav-link" href="#">Accessories</a>
      </li>
      <li class="flex nav-item"><a class="nav-link" href="#">News</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Guides</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Bio</a></li>
    </ul>
    <div class="logo">
      <a href="#"><img src="public/images/logo-v1.svg" alt="" /></a>
    </div>
    <ul class="flex nav-list nav-right">
      <li class="flex nav-item"><a class="nav-link" href="#">Bag</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Account</a></li>
    </ul>
  </nav>
</header>
