<header>
  <nav class="nav-bar">
    <ul class="flex nav-list">
      <li class="flex nav-item">
        <a class="nav-link" href="/guitars">Guitars</a>
      </li>
      <li class="flex nav-item">
        <a class="nav-link" href="/shapes">Shapes</a>
      </li>
      <li class="flex nav-item"><a class="nav-link" href="#">About</a></li>
    </ul>
    <div class="logo">
      <a href="/"><img src="/public/images/logo-v1.svg" alt="logo" /></a>
    </div>
    <ul class="flex nav-list nav-right">
      <li class="flex nav-item"><a class="nav-link" href="#">Favorites</a></li>
      <li class="flex nav-item"><a class="nav-link" href="#">Search</a></li>
    </ul>
  </nav>
</header>
