<section class="hero flex-column">
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
  <ul class="cta-wrapper flex">
    <li>
      <a href="/guitars">Guitars</a>
    </li>
    <li>
      <a href="#">Lorem ipsum</a>
    </li>
  </ul>
</section>
