<section class="hero flex-column">
  <h1>Guitar Database</h1>
  <ul class="cta-wrapper flex">
    <li>
      <a href="/guitars">All Guitars</a>
    </li>
    <li>
      <a href="/shapes">Guitar Shapes</a>
    </li>
  </ul>
</section>
