<section class="wrapper">
  <h1>Brands</h1>
  <div class="cards-container">
    <% brands.forEach(brand => { %>
    <a href="/guitars/<%= brand.brand %>" class="card">
      <div class="card-img">
        <img
          src="/public/images/guitar-brands/<%= brand.brand %>-logo.jpg"
          alt="<%= brand.brand %>"
        />
      </div>
      <div class="card-info">
        <p class="card-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          ipsa?
        </p>
      </div>
    </a>
    <% }) %>
  </div>
</section>
