<section class="wrapper">
  <h1><%= title %></h1>
  
  <div class="cards-container">
    <a href="#" class="card">
      <div class="card-img">
        <img
          src="/public/images/guitar-brands/Fender_Logo-16.jpg"
          alt="guitar"
        />
      </div>
      <div class="card-info">
        <p class="card-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          ipsa?
        </p>
      </div>
    </a>
    <a class="card">
      <div class="card-img">
        <img
          src="/public/images/guitar-brands/Gibson_Logo_01-10.jpg"
          alt="guitar"
        />
      </div>
      <div class="card-info">
        <p class="card-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          ipsa?
        </p>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card-img">
        <img
          src="/public/images/guitar-brands/Jackson_Logo-19.jpg"
          alt="guitar"
        />
      </div>
      <div class="card-info">
        <p class="card-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam,
          ipsa?
        </p>
      </div>
    </a>
  </div>
</section>
